<section class="footer-1" >
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="f-logo mt-4 mb-4">
                        <i class="fab fa-aviato"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reiciendis obcaecati ullam ipsam similique explicabo eaque officia ipsum, rem quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reiciendis obcaecati
                            ullam ipsam similique.</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="social mb-4">
                        <i class="fab fa-facebook me-2"></i>
                        <i class="fab fa-instagram me-2"></i>
                        <i class="fab fa-snapchat-square me-2"></i>
                        <i class="fab fa-linkedin me-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

